@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron">
        <h1>Comment</h1>
        <p><a class="btn btn-primary btn-large" href="/Comment">Post a comment anonymously!</a></p>
    </div>

    <div class="jumbotron">
        <h1>Reply</h1>
        <p><a class="btn btn-primary btn-large" href="/Comment/Browse">Reply anonymously to other's comments!</a></p>
    </div>
</div>