
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron">
        <h1>Welcome to Unkcon</h1>
        <h2>To start, please register an account.</h2>
    </div>
</div>


