@model Unkcon.Models.CommentModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Comment";
}

<h2>This is my Comment View</h2>

@if (Request.IsAuthenticated)
{
    <div>
        @using (Html.BeginForm("Publish", "Comment", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", rule = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Comment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Post" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}
else
{
    <div>
        <h1>You are not logged in!</h1>
    </div>
}